{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/books.css' %}" />
    <link rel="stylesheet" href="{% static 'css/book_issued.css' %}" />

    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon/favicon.ico' %}"
    />

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  </head>

  <body>
    <nav>
      <div class="heading">
        <h4>Daydream Library</h4>
      </div>

      <ul class="nav-links">
        <li>
          <a
            class="{% block urlHomeActive %}{% endblock urlHomeActive %}"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>

        <li>
          <a
            class="{% block urlBookActive %}{% endblock urlBookActive %}"
            href="{% url 'issued_books' %}"
            >BooksIssued</a
          >
        </li>
        <!-- <li><a href="pages/about.html">Genre</a></li>
         -->
        <!-- <li>Genre</li> -->
        <div class="dropdown">
          <li><a href="javascript:void(0);">Genre</a></li>
          <!-- <button class="dropbtn">Genre</button> -->
          <div class="dropdown-content">
            <a href="/action" class="filter-books" data-filter="action"
              >Action</a
            >
            <a href="/horror" class="filter-books" data-filter="horror"
              >Horror</a
            >
            <a href="/thriller" class="filter-books" data-filter="thriller"
              >Thriller</a
            >
          </div>
        </div>
        {% csrf_token %} {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
      </ul>
      {% if request.user.is_authenticated %}
      <div class="avatar">
        <span class="avatar-letter"
          >{{ request.user.username|first|upper }}</span
        >
      </div>
      {% endif %}
    </nav>

    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let book_list_obj = {{ user_list_obj|safe }}
        $(document).on('keyup', '.list_value', function () {
          let value = $(this).val();
          console.log(book_list_obj);
          if (value.length > 2) {
            var findsearch = book_list_obj.filter(function(book_list_obj) {
              return book_list_obj.toLowerCase().includes(value.toLowerCase());
            });

            let html = '';

            if (findsearch.length > 0) {
              for (let i = 0; i < findsearch.length; i++) {
                html += `<li class="bg-light list_li_type" id="1" data-value="${findsearch[i]}"
                  data-desc="${findsearch[i]}"
                  style="cursor:pointer;">${findsearch[i]}</li>`;
              }
              $("#suggestions").html(html);
              $("#suggestions").css("display", "block");
            }
          } else {
            $("#suggestions").css("display", "none");
          }
        });

        var input_field_value = [];
        $(document).on('click', '.list_li_type', function () {
          let value = $(this).text();
          input_field_value.push(value);
          $(".list_value").val(input_field_value.join(''));
          $("#suggestions").css("display", "none");
        });


        $(document).on('click', '.return-btn', function () {
          let text_val = $(this).val()
          var row = $(this).closest('tr');
          var fineChargeTd = row.find('.fine_charge');
          let book_borrow_id = $(this).attr("data-id");
          if (text_val == "No"){
            $(this).val("Yes")
            $(this).css("background-color", "green");

            
            var return_btn_value = "yes"
          }else{
            $(this).css("background-color", "#dd4343");

            $(this).val("No")
            
            var return_btn_value = "no"
          }
          $.ajax({
            type: 'POST',
              url: "{% url 'return_books' %}",
              data: {"return_btn_value":return_btn_value, "book_value":book_borrow_id, "csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val()},
              success: function (response) {
                if (response.status == true){
      
                    row.find(".fine_charge").text("Paid")
                  }else{
                  row.find(".fine_charge").text("0")
                  }
              }
    })
  })


        // calculate due_date time daily

      
        $('tr.book_data').each(function() {
                var row = $(this);
    
                var due_date = row.find('.date-style').text();
                var due_date = due_date.split("-");
                var due_day = parseInt(due_date[0]);
                var due_month = parseInt(due_date[1]);
                var due_year = parseInt(due_date[2]);
                var due_date = new Date(due_year, due_month-1, due_day);

                var currentDate = new Date();
                var currentday = currentDate.getDate();
                var currentmonth = currentDate.getMonth() + 1;
                var currentyear = currentDate.getFullYear();
                var current_date = new Date(currentyear, currentmonth-1, currentday)
                var timeDifference = due_date - current_date;
                var daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

                if (daysDifference<=0){
                  row.find('.date-style').css("color", "red")
                }
        });

      // $('div.book').each(function() {
      //   var row = $(this);
      //   var status = row.find(".other").text().split(":")[1].trim()
      //   console.log(status.length)
      //   if (status=="no"){
      //     console.log("hiiiiiiiiiiii")
      //     row.find("a").removeAttr('href').css("background-color","lightgrey");
      //     // row.find("a").css('pointer-events', 'none');
      //   }else{
      //     console.log("nooooooooooo")
      //   }
      //   console.log(status)
      //   row.find("a")
      // })
      // $('.return-btn').each(function() {
      //   var row = $(this).closest('tr');
      //   btn_val = row.find(".return-btn").val()
      //   if (btn_val=="No"){
      //   row.find(".return-btn").css("background-color", "#dd4343");
      //   }else{
      //     row.find(".return-btn").css("background-color", "green");
      //   }

      // })
    
    </script>
  </body>
</html>
