{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>homepage</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/books.css' %}">
  <link rel="stylesheet" href="{% static 'css/book_issued.css' %}">

  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">


  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

</head>

<body>

  <nav>

    <div class="heading">

      <h4>Daydream Library</h4>

    </div>

    <ul class="nav-links">

      <li><a class="{% block urlHomeActive %}{% endblock urlHomeActive %}" href="{% url 'home' %}">Home</a></li>

      <li><a class="{% block urlBookActive %}{% endblock urlBookActive %}" href="{% url 'issued_books' %}">BooksIssued</a></li>
      <!-- <li><a href="pages/about.html">Genre</a></li>
         -->
      <!-- <li>Genre</li> -->
      <div class="dropdown">
        <li><a href="javascript:void(0);">Genre</a></li>
        <!-- <button class="dropbtn">Genre</button> -->
        <div class="dropdown-content">
          <a href="/action" class="filter-books" data-filter="action">Action</a>
          <a href="/horror" class="filter-books" data-filter="horror">Horror</a>
          <a href="/thriller" class="filter-books" data-filter="thriller">Thriller</a>
        </div>
      </div>
      {% csrf_token %}
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Signup</a></li>
      {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
    <div class="avatar">
      <span class="avatar-letter">{{ request.user.username|first|upper }}</span>
    </div>
    {% endif %}
  </nav>

  {% block content %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    let book_list_obj = {{ user_list_obj | safe}}
    $(document).on('keyup', '.list_value', function () {
      let value = $(this).val();
      // var myArray = value.split(";");
      // text_to_search = myArray.pop(-1).trim()
      console.log(book_list_obj)
      if (value.length > 2) {
        var findsearch = book_list_obj.filter(function (book_list_obj) {
          return (book_list_obj.toLowerCase()).includes(value.toLowerCase());
          console.log(findsearch)
        });


        let html = '';

        if (findsearch.length > 0) {
          for (let i = 0; i < findsearch.length; i++) {

            html += `<li class="bg-light list_li_type" id="1" data-value="${findsearch[i]}"
            data-desc="${findsearch[i]}"
            style="cursor:pointer;">${findsearch[i]}</li>`;

          }
          $("#suggestions").html(html);
          $("#suggestions").css("display", "block");

        }

      }
      else {
        $("#suggestions").css("display", "none");
      }
    })
    var input_field_value = []
    $(document).on('click', '.list_li_type', function () {
      let value = $(this).text();
      input_field_value.push(value)
      $(".list_value").val(input_field_value.join(''));
      $("#suggestions").css("display", "none");
    });


    $("#return_book").change(function() {
        var selectedValue = $(this).val();
        console.log(selectedValue)
        if (selectedValue === "no") {
            $(this).css("background-color", "red");
        } else {
            $(this).css("background-color", "green");
        }
    });
  </script>
</body>

</html>