{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>homepage</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/books.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">


  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

</head>

<body>

  <nav>

    <div class="heading">

      <h4>Daydream Library</h4>

    </div>

    <ul class="nav-links">

      <li><a class="{% block urlHomeActive %}{% endblock urlHomeActive %}" href="{% url 'home' %}">Home</a></li>

      <li><a class="{% block urlBookActive %}{% endblock urlBookActive %}" href="{% url 'books' %}">BooksIssued</a></li>
      <!-- <li><a href="pages/about.html">Genre</a></li>
         -->
      <!-- <li>Genre</li> -->
      <div class="dropdown">
        <li><a href="javascript:void(0);">Genre</a></li>
        <!-- <button class="dropbtn">Genre</button> -->
        <div class="dropdown-content">
          <a href="/action" class="filter-books" data-filter="action">Action</a>
          <a href="/horror" class="filter-books" data-filter="horror">Horror</a>
          <a href="/thriller" class="filter-books" data-filter="thriller">Thriller</a>
        </div>
      </div>
      {% csrf_token %}
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Signup</a></li>
      {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
    <div class="avatar">
      <span class="avatar-letter">{{ request.user.username|first|upper }}</span>
    </div>
    {% endif %}
  </nav>

  {% block content %}{% endblock %}

  <!-- <script>
    // JavaScript to add the 'active' class to the clicked <li>
    const listItems = document.querySelectorAll('li');
    
    listItems.forEach(item => {
      item.addEventListener('click', () => {
        // Remove 'active' class from all items
        listItems.forEach(li => li.querySelector('a'));
        // Add 'active' class to the clicked <a> element
        item.querySelector('a').classList.add('active');
      });
    });
    </script>    -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script>
      $(document).ready(function() {
    $('.filter-books').click(function(e) {
        e.preventDefault(); // Prevent the default link behavior

        var filterBy = $(this).data('filter');
        var currentUrl = window.location.href;

        // Remove any existing parameter
        var baseUrl = currentUrl.split('/',-1);
        console.log(baseUrl,"777")
        var newUrl = baseUrl + filterBy;

        // Update the URL without a page refresh
        history.pushState(null, null, newUrl);

        // Perform any additional filtering or UI updates here
        // ...

        // You might also trigger an AJAX call to update content based on the filter
        // ...
    });
});
    </script> -->

  <script>
    $(document).ready(function () {
      const modal = $(".modal");
      const trigger = $(".trigger");
      const closeButton = $(".close-button");
      $(trigger).click(function () {
        let book_title = $(this).parent('div').find('.title').text();
        console.log(book_title)
        // $('#book-ttl').text(book_title);
        modal.find("h2").text(book_title)
        toggleModal();
      });
      function toggleModal() {
        modal.toggleClass("show-modal");
      }

      // function windowOnClick(event) {
      //     if (event.target === modal[0]) {
      //         toggleModal();
      //     }
      // }
      // trigger.on("click", toggleModal);
      // console.log(trigger)
      closeButton.on("click", toggleModal);
      // $(window).on("click", windowOnClick);
    });
  </script>
</body>

</html>