{% extends 'base.html' %}
{% load static %}
{% block urlHomeActive %}active{% endblock urlHomeActive %}
{% block content %}
<div id="large-th">
  <div class="container">
    <!-- <h1> All Books</h1> -->
    <br>
    <!-- <div class="choose">
          <a href="#list-th"><i class="fa fa-th-list" aria-hidden="true"></i></a>
          <a href="#large-th"><i class="fa fa-th-large" aria-hidden="true"></i></a>
        </div> -->
    <div id="list-th">
      {% for book in books %}
      <div class="book read">
        <div class="cover">
          <img src="{{book.cover_img.url}}">
        </div>
        <div class="description">
          <p class="title">{{book.title}}<br>
          </p>
          <!-- <p class="author">{{book.author}}</p> -->
          <div class="author">
            <span class="author">{{book.author}}</span>
          </div>
        </div>
        <div class="other">
          <p>Available: {{book.availability_status}}</p>
        </div>
        <a href="{% url 'assign_book' book.id%}" class="assign trigger">Assign Book</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

</body>

</html>